*{
    padding: 0px;
    margin: 0px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined
{
    color: white;
    transition: 300ms;
    
}

.material-symbols-outlined:hover{
    cursor: pointer;
    color: rgb(247, 239, 87);
    transform: scale(1.5);
    
}


@font-face {
    font-family: H1Rustico;
    src: url(/style/h1Rustico/VarsityTeam-Bold.otf);

}

@font-face{
    font-family: Militar;
    src: url(/style/fontMilitar/Pervitina-Dex-FFP.ttf); 
}




header{
    background-color: rgb(182, 41, 41);
    font-family: H1Rustico;
    text-align: center;
    padding: 50px;
    font-size: 25px;
}

header > h1{
    font-family: H1Rustico;
    text-align: center;
    font-size: 45px;
    color: rgb(247, 240, 240);

}

header > h2{
    font-family: H1Rustico;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    font-weight: lighter;
    color: rgb(247, 240, 240);
}

#corAmar {
    width: 100%;
    background-color: yellow;
    height: 10px;
    border: solid black 1px;

}

#obs{
    font-size: 15px;
    padding: 10px;
    color: rgba(0, 0, 0, 0.60);
}

#OurHist{
    font-family: Militar;
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 10px;
    font-weight: lighter ;
    background-color: rgb(148, 71, 71);
    padding: 5px;
    border-radius: 10px;
}

nav{
    font-family: Militar;
    text-align: center;
    margin-top: 25px;
}

nav >  a{
    padding-left: 40px;
    text-decoration: none;
    color: rgb(247, 240, 240);
    transition: 300ms;
}

nav > a:hover{
    font-size: 30px;
    cursor: pointer;
}

main{
    background-color: rgb(242, 208, 208);
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    background-color: rgb(148, 71, 71);
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

footer > p{
    color: white;
    font-weight: bold;
    font-size: 10px;
}

main > input, p{
    padding: 10px;
}

main > ul{
    text-align: left;
}

#imagem{
    transition: 300ms;
}

#imagem:hover{
    width: 94%;
    border-radius: 10px;
}

#imagemMus{
    transition: 300ms;
}

#imagemMus:hover{
    width: 95%;
    border-radius: 10px;
}

.item-name{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: 300ms;
}

.item-name:hover{
    font-size: 18px;
}


#textoSobre{
    text-align: justify;
    margin:auto;
    padding: 10px;
    font-size: 18px;
    max-width: 800px;
    background-color: rgb(132, 58, 58);
}

#textoSobre > h1{
    color: white;
    padding: 10px;
}

#textoSobre > p{
    color: white;
    padding: 5px;
}

#contato{
    width: 400px;
    margin: auto;
    text-align: center;
    justify-content: justify;
    padding: 10px;
    background-color: rgb(132, 58, 58);
    border-radius: 10px;
    color: white;
}

#fotoMotor > .imgSobre{
    max-width: 800px;
    min-width: 300px;
    height: 100%;
    border-radius: 10px;
}

li{
    padding: 10px;
}

#F40content{
    padding: 10px;
    width: 450px;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(248, 248, 87);
}

#mustangcontent
{
    padding: 10px;
    width: 450px;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(105, 105, 99);
}

#listaF40{
    background-color: rgb(207, 43, 43);
    text-align: left;
    width: 400px;
    color: white;
    margin: auto;
    list-style: none;
}
#Search{
    width: 250px;
    height: 25px;
}

#showCar{
    display: none;
}